* {
    margin: 0px;
    padding: 0px;

}

body {
    font-family: Arial, sans-serif;
    width: 100%;
}

.go {
    width: 100%;
    /* đầu trang */
    height: auto;
    background-color: black;
    color: #ffffff;
}

.go h6 {
    text-align: center;
    padding: 10px;
}

.class-header {
    display: flex;
    margin-top: 24px;
    justify-content: space-between;
    align-items: center;
}

.logo {
    margin-left: 100px;
    font-size: 32px;
    font-family: fantasy;
}

.class-nav {
    display: flex;
    gap: 24px;
}

a {
    text-decoration: none;
    color: black;
}

.class-search {
    width: 577px;
    height: 48px;
    background-color: #F0F0F0;
    border-radius: 62px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

.search-icon {
    margin-left: 16px;
}

.search-icon img {
    cursor: pointer;
}

.search {
    border: none;
    background-color: #F0F0F0;
    color: #00000066;
    margin-left: 12px;
}

.icon-shop {
    display: flex;
    gap: 14px;
}

.line {
    width: 100%;
    height: 1px;
    background-color: #0000001A;
    margin-top: 24px;
}

.class-nav1 {
    display: flex;
    gap: 14px;
    margin-top: 29.5px;
}

.img-demo {
    width: 100%;
    height: 167px;
    border-radius: 20px;
    object-fit: cover;
}

.demo-img {
    width: 100%;
    height: 530px;
    border-radius: 20px;
    object-fit: cover;
}

.demo {
    display: grid;
    gap: 11px;
}

.review {
    display: flex;
    gap: 14px;
    margin-top: 34px;
}

.icons {
    display: flex;
    align-items: center;
    gap: 12px;
    margin-top: 14px;
}

.icons p {
    font-size: 18px;
}

.icons1 {
    margin-top: 14px;
    display: flex;
}

.red {
    width: 72px;
    height: 34px;
    background-color: #FF33331A;
    color: #FF3333;
    border-radius: 62px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center
}

.iconss-p {
    font-size: 16px;
    color: #00000099;
    margin-top: 20px;
    font-family: Georgia, 'Times New Roman', Times, serif;

}

.container {
    margin-left: 100px;
}

.class-tieude {
    margin-left: 40px;
}

.new {
    display: flex;
    gap: 16px;
    margin-top: 16px;
}

.new1 {
    width: 37px;
    height: 37px;
    border-radius: 100px;
    background-color: #4F4631;
    display: flex;
    align-items: center;
    justify-content: center;
}

.new2 {
    width: 37px;
    height: 37px;
    border-radius: 100px;
    background-color: #314F4A;
}

.new3 {
    width: 37px;
    height: 37px;
    border-radius: 100px;
    background-color: #31344F;
}

.class-size {
    display: flex;
    gap: 12px;
    margin-top: 16px;
}

.size1 {
    width: 86px;
    height: 46px;
    border-radius: 62px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.size2 {
    width: 105px;
    height: 46px;
    border-radius: 62px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.size3 {
    width: 89px;
    height: 46px;
    border-radius: 62px;
    background-color: #181717;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.size4 {
    width: 104px;
    height: 46px;
    border-radius: 62px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
}

.class-add {
    width: 170px;
    height: 52px;
    border-radius: 62px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.class-add1 {
    width: 400px;
    height: 52px;
    background-color: #181717;
    border-radius: 62px;
    color: #F0F0F0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.add {
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.title {
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-top: 80px;
}

.class-reviews {
    margin-left: 100px;
    display: flex;
    justify-content: space-between;
    margin-top: 24px;
}

.text-a {
    width: 48px;
    height: 48px;
    border-radius: 100%;
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-b {
    width: 120px;
    height: 48px;
    border-radius: 62px;
    background-color: #F0F0F0;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.text-c {
    width: 166px;
    height: 48px;
    border-radius: 62px;
    background-color: #000000;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #F0F0F0;
}

.class-left {
    display: flex;
    gap: 10px;
}

.left {
    margin-left: 100px;
    margin-top: 32px;
}


.text-left {
    width: 610px;
    height: 241px;
    border-radius: 20px;
    border: 1px solid #ccc;
}

.icon-samaen {
    width: 20px;
    height: 20px;
    border-radius: 100%;
    background-color: #01AB31;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
    color: #F0F0F0;
}

.evaluation {
    margin-left: 30px;
    margin-top: 30px;
}

.class-i {
    padding-right: 30px;
    margin-left: 30px;
    color: #00000099;
    line-height: 22px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    margin-top: 16px;
    font-size: 16px;
    font-family: space-between;
    text-align: justify;
}

.bi {
    display: flex;
}

.number {
    margin-left: 30px;
    margin-top: 24px;
    color: #00000099;
}

.right {
    margin-left: 28px;
    margin-top: 3px;
}

.class-flex {
    display: flex;
}

.loading {
    width: 230px;
    height: 52px;
    border-radius: 62px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-left: 605px;
    margin-top: 28px;
}

.you {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 48px;
}

.class-you {
    text-align: center;
    margin-left: 100px;
    margin-top: 49px;
}

.hang__img {
    width: 295px;
    height: 298px;
    border-radius: 20px;
    object-fit: cover;
}

.hang {
    display: flex;
    margin-left: 100px;
    gap: 21px;
    margin-top: 55px;
}

.evaluation1 {
    display: flex;
    margin-top: 8px;
    margin-bottom: 8px;
    gap: 5px;
}

.size-name {
    margin-top: 16px;
    font-size: 20px;
}

.manni {
    display: flex;
    gap: 10px;
    font-size: 24px;
}

.sale {
    width: 58px;
    height: 28px;
    border-radius: 62px;
    background-color: #FF33331A;
    font-size: 12px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #FF3333;
}

.class-footer {
    width: 100%;
    height: 180px;
    background-color: #000000;
    border-radius: 20px;
    justify-content: space-between;

    margin-top: 78px;
    display: flex;

}

.footer-left {
    color: #FFFFFF;
    font-size: 40px;
    width: 551px;
    height: 94px;
    margin-left: 64px;
    margin-top: 43px;
    line-height: 45px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.dis-flexx {
    width: 349px;
    height: 48px;
    border-radius: 62px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
}

.diss-flex {
    display: flex;
    align-items: center;
    font-size: 16px;
    border: none;
    margin-left: 16px;

}

.search {
    background-color: #FFFFFF;
}

.search1 {
    background-color: #F0F0F0;
    border: none;
    margin-left: 12px;
}

.flex-tep {
    width: 349px;
    height: 48px;
    border-radius: 62px;
    background-color: #FFFFFF;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 14px;
}

.class-email {
    margin-top: 36px;
    margin-right: 64px;
}

.text-left__h3 {
    display: flex;
    gap: 6px;
    margin-left: 30px;
    margin-top: 15px;
}

.ellipsis {
    margin-left: 420px;
    margin-top: 35px;
}

.title__hr {
    width: 1240px;
    height: 2px;
    background-color: #0000001A;
    margin-left: 100px;
    margin-top: 24px;
}

@media (max-width: 1024px) {
    body {
        width: 100%;
    }

    .go {
        width: 100% !important;
    }

    .class-search {
        width: 100%;
    }

    .line {
        width: 100%;
        margin: 24px 0;
    }

    .review {
        flex-wrap: wrap;
    }

    .title__hr {
        width: 100%;
        margin-left: 0;
    }

    .class-tieude {
        margin-left: 0;
        width: 100%;
    }

    .class-header {
        display: block;
    }

    .class-nav {
        justify-content: center;
    }

    .logo {
        margin-left: 0;
        justify-content: center;
        display: flex;
    }

    .class-flex {
        display: block;
    }

    .text-left {
        width: 100%;
        height: auto;
    }

    /* .class-i {
        width: 100%;
    } */
    .class-footer {
        margin: 0;
    }

    .hang {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        /* 2 cột */
        grid-auto-rows: auto;
        margin: 16px;
    }

    .left {
        margin-left: 28px;
    }

    .loading {
        margin-left: 35%;
    }

    .ellipsis {
        display: none;
    }
}

@media (max-width: 768px) {
    .bi {
        display: block;
    }

    .left {
        margin-left: 28px !important;
    }

    .container {
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    .class-add1 {
        width: 70%;
    }
}

@media (max-width: 640px) {
    .class-reviews {
        display: block;
        margin-left: 28px;

    }

    .hang {
        display: block;
    }
}

@media (max-width: 500px) {
    .class-footer {
        display: block;
        height: auto;
    }

    .footer-left {
        width: 100%;
        margin: 0;
        margin-left: 30px;
    }

    .class-i {
        height: auto;
        padding-right: 10px;
    }

    .you {
        font-size: 32px;
    }

    .dis-flexx {
        width: 100%;
        margin-left: 30px;
    }

    .flex-tep {
        width: 100%;
        margin-left: 30px;
    }
}

.footer {
    background-color: #F0F0F0;
    padding: 40px 60px;
    font-family: sans-serif;
    color: #222;
}

.footer__top {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 30px;
}

.footer__parding h2 {
    font-size: 33px;
    margin-bottom: 25px;
}

.footer__parding {
    max-width: 250px;
}

.footer__parding p {
    font-size: 14px;
    color: #00000099;
}
.social-icons {
    display: flex;
    margin-top: 35px;
    gap: 12px;
}

ul {
    list-style: none;
}

.icon__cocial {
    width: 28px;
    height: 28px;
    background-color: #FFFFFF;
    border-radius: 100%;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
}
.icon__cocial1 {
    width: 28px;
    height: 28px;
    background-color: #000000;
    border-radius: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-col ul li {
  margin-bottom: 10px;
  margin-top: 26px;
}
.footer-col a {
    color: #00000099;
}

.footer-bottom {
    margin-top: 25px;
}
.footer-bottom p {
    color: #00000099;
    display: flex;
}

.inputun {
    padding-left: 100px;
    padding-right: 100px;
     position: relative;
     width: 100%;
    
}